@charset "UTF_8";
@font-face {
    font-family: 'droid';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
 }


body{
    background-color: rgb(119, 248, 205);
}

h1.historia{
    font-family:'droid';
    color: rgb(22, 129, 22);
    margin-left: 20px;
    font-size: 2em;
   }


h2{
    font-family: 'droid';
    color:rgb(22, 129, 22); ;
    margin-left: 20px;
    background-image: linear-gradient(to right,rgba(176, 247, 176, 0.863),rgb(255, 255, 255) );
}

.geral{
    background-color: white;
    margin: auto;
    width: 850px;
}

header{
    
    background-image: linear-gradient(to top, rgb(1, 48, 1), rgb(6, 168, 6));
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    width: auto;
}
/* #blok{
    margin-left: 25px;
} */


